<div id="request-invite" class="form anim" style="display: <%= @user.errors.any? ? 'block' : 'none';%>">
  <%= simple_form_for resource, :as => resource_name, :url => registration_path(resource_name) , :html => {:class => 'form-horizontal' } do |f| %>
    <div name="joinus">
      <%= f.error_notification %>
      <div class="formvalidate">Please enter the correct email!<div class="arrow"><img src="img/arrow01.png"/></div></div>
                    <div class="formsent">Thank you for joining beta testing! We'll inform you for the exclusive beta launch.<span>You can follow us on social media</span><div class="arrow"><img src="img/arrow02.png"/></div></div>
      <%= f.input :email, :placeholder => 'Join our exclusive beta testing', :class => "mail" %>
    </div>
    
      <%= f.submit "Join Us", :class => "btn btn-primary joinusButton", :id => 'invitation_button' %>
      
    </div>
  <% end %>
</div>