<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Airfordable Layaway for Flights" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Airfordable" %>">
    <meta name="viewport" content="width=700; initial-scale=0.9; maximum-scale=1.0;">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'> 
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <%= yield(:head) %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    </body>
</html>